{% extends 'base.html' %}

{% block header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/329b68c3d5.js"></script>

    <script type="text/javascript">

        $(function() {
            $("#like").click(function(e){

                var el = $(this);

                var blogId = $(el).parent().parent().attr("id");
                var data = { "blogId" : blogId };

                var savelike = $.ajax({
                    type: 'POST',
                    url: "/likeBlog",
                    data: data,
                    success: function(resultData) { alert("Save Complete") }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% for blog in blogs %}
        {{ blog.render() | safe }}
    {% endfor %}
{% endblock %}