{% extends "base.html" %}

{% block content %}
    <form method = "POST">

        <fieldset>
            <legend><span class="number">1</span>Your login details</legend>
            <label for="mail">UserName:</label>
            <input type="text" name="username" value="{{username}}">
            {{error_username}}

            <label for="password">Password:</label>
            <input type="password" name="password" value="{{password}}">
            {{error_password}}
        </fieldset>
        {{error_form}}
        <input type="submit">
    </form>
{% endblock %}