{% extends "base.html" %}

{% block content %}
    <form method = "POST">
        <input type="hidden" name="id" readonly="true" value="{{id}}">
        <label>
            <span>Title</span>
            <input type="text" name="title" value="{{title}}">
            {{error_title}}
        </label>
        <label>
            <span>Subject</span>
            <textarea name="subject">{{subject}}</textarea>
            {{error_subject}}
        </label>
        <input type="submit">
    </form>
{% endblock %}