/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

body {

}

article {

    width: 50em;
    margin: auto;
}

h1 {

}

img {

    max-width: 100%;
}

figure{

    margin: 0px;
}

.social{

    box-sizing: border-box;
    padding: 2% 2% 0% 2%;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin: auto;
}

footer{

    margin-top: 30px;
    border-top: 2px solid #242424;
}

.icon{

    margin-right: 10px;
    text-decoration: none;
    color: inherit;
}

/* zocial */
[class*="zocial-"]:before {

    font-family: 'zocial', sans-serif;
    margin-right: 5px;
}
